/aclocal.m4
/autom4te.cache/
/build-aux/
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/configure~
/Makefile
/Makefile.in
/stamp-h1
/VERSION.h
/.deps/
/00-wd-security.rules
/compat.o
/encoding.o
/wd-security
/wd-security.1
/wd-security.adoc
/wd-security-cli.o
/wd-security.o
